# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Package manager locks (optional: keep 1 for consistency)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Next.js
.next
out
.next.cache

# Build output
dist
build

# ICP / DFX
.dfx
canisters/*/build
canisters/*/wasm
*.wasm
*.did.js
*.did.d.ts
*.did
*.mo.js
*.mo.d.ts
src/declarations
canister_ids.json

# Exclude ICP canisters declarations from git
lib/canisters

# Logs
*.log
logs
*.log.*

# Env files
.env
.env.local
.env.production

# OS-specific
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# Misc
*.pem

# IDEs
.vscode
.cursor
.mops